.places h1 {
    font-size: 30px;
}

.places_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.place_article {
    width: 390px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    position: relative;
}

.place_article > h2 {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.price_by_night {
    position: absolute;
    right: 10px;
    top: 10px;

    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 36px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;

    padding: 4px 3px 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    padding-top: 64px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.user {
    margin-top: 10px;
    margin-bottom: 10px;
}

.place_article .amenities,
.place_article .reviews {
    margin-top: 40px;
}

.place_article .amenities h2,
.place_article .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.place_article .amenities ul,
.place_article .reviews ul {
    list-style: none;
    padding-left: 0;
}

.place_article .amenities ul li {
    padding:4px 0 7px 21px;
    margin-bottom:0.2em;
    text-indent:0.4em;
    background-size: 20px;
    background-repeat: no-repeat;
}

.place_article .amenities ul li[data-type="tv"] {
    background-image: url("../images/icon_tv.png");
}

.place_article .amenities ul li[data-type="wifi"] {
    background-image: url("../images/icon_wifi.png");
}

.place_article .amenities ul li[data-type="kitchen"] {
    background-image: url("../images/kitchen.png");
}

.place_article .amenities ul li[data-type="pool"] {
    background-image: url("../images/swimming-pool.png");
}

.place_article .amenities ul li[data-type="parking"] {
    background-image: url("../images/parking.png");
}

.place_article .amenities ul li[data-type="ac"] {
    background-image: url("../images/ac.png");
}

.place_article .amenities ul li[data-type="monitor"] {
    background-image: url("../images/monitor.png");
}

.place_article .amenities ul li[data-type="pet"] {
    background-image: url("../images/icon_pets.png");
}

.place_article .reviews h3 {
    font-size: 14px;
    margin-bottom: 4px;
}

.place_article .reviews p {
    margin-top: 0;
    font-size: 12px;
}
